@keyframes bouncing {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.IntroSection {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  @include bg();
  background-image: url('assets/img/intro-bg.jpg');
  min-height: 80vh;
  color: $invertedTextColor;

  .title {
    // stylelint-disable
    font-family: 'Arial Black', $fontFamily, $fallbackFont;
    // stylelint-enable
    font-size: 64px;
    margin-bottom: 18px;
  }

  .button {
    padding: 14px 15px;
    background-color: #000;
    font-weight: $medium;
    text-transform: uppercase;
    font-size: 28px;
    line-height: 1;

    &:hover {
      background-color: $brandColorGrayDarker;
    }

    &:active {
      background-color: $brandColorGray;
    }
  }

  .chevronWrapper {
    position: absolute;
    bottom: 40px;
    right: 0;
    left: 0;
    width: 100%;
    text-align: center;
  }

  .chevronButton {
    padding: 10px;
    animation: bouncing 1200ms infinite linear;

    svg {
      transition: fill $duration;
    }

    &:hover svg {
      fill: $invertedTextColor;
    }
  }
}
