.TextInput {
  position: relative;
}

.input {
  @include input();
}

.error {
  color: $errorColor;
}

.hasError {
  .input {
    border-color: $errorColor;
  }
}

.multiline {
  .input {
    resize: none;
  }
}
