.Button {
  cursor: pointer;
}

// Variants
.reset {
  @include resetButton();
}

.brand {
  @include button($brandColor, $invertedTextColor);

  &:hover {
    background-color: $brandColorDarker;
  }

  &:active {
    background-color: $brandColorGray;
  }
}

.gray {
  @include button($brandColorGray, $invertedTextColor);

  &:hover {
    background-color: $brandColorDarker;
  }

  &:active {
    background-color: $brandColor;
  }
}

.loading {
  cursor: default;

  .content {
    visibility: hidden;
  }
}

.hasIcon {
  .content {
    display: flex;
    align-items: center;
  }

  .contentText {
    margin-left: 5px;
  }
}

.loaderBox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  @include fullsize;
}

//.icon {
//  margin-right: 5px;
//}
