.FormControl {
  display: flex;
}

.label {
  display: block;
  width: 100%;
  font-weight: $medium;
}

.inputWrapper {
  flex: 1 1 0;
}

.hasMargin {
  margin-bottom: 20px;
}

.hasError {
  .label {
    color: $errorColor;
  }
}

.errorMessage {
  margin-top: 5px;
}

.topLabeled {
  flex-direction: column;

  .label {
    margin-bottom: 6px;
  }
}

.leftLabeled {
  flex-direction: row;
  align-items: flex-start;

  @include onTablet() {
    flex-direction: column;
  }

  .label {
    width: 200px;
    margin-right: 25px;
    text-align: right;

    @include onTablet() {
      width: 100%;
      margin-right: 0;
      text-align: left;
    }
  }

  .inputWrapper {
    @include onTablet() {
      min-width: 100%;
    }

    @include onPhone() {
      width: 100%;
    }
  }
}
