.FeaturesSection {
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .col {
    width: 48%;
  }

  .feature {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    @include disableLastMargin(bottom);

    svg,
    img {
      max-width: 65px;
    }
  }

  .featureContent {
    flex: 1 1 0;
    margin-left: 30px;
  }
}
