// Fonts
$fontFamily: 'Montserrat';
$fontFamilyPlayfair: 'Playfair Display';
$fallbackFont: Arial, Helvetica, sans-serif;
$fontSize: 14px;
$lineHeight: 1.714;

// Font weights
$regular: 400;
$medium: 500;
$bold: 600;

// Durations
$duration: 0.35s;
