/*--------------------------------------------------------------
# Global app styles
--------------------------------------------------------------*/
// Load fonts
@include webfont($fontFamily, 'assets/fonts/Montserrat/Montserrat-Medium.ttf', $medium);
@include webfont($fontFamily, 'assets/fonts/Montserrat/Montserrat-MediumItalic.ttf', $medium, italic);
@include webfont($fontFamily, 'assets/fonts/Montserrat/Montserrat-Regular.ttf', $regular);
@include webfont($fontFamily, 'assets/fonts/Montserrat/Montserrat-RegularItalic.ttf', $regular, italic);
@include webfont($fontFamily, 'assets/fonts/Montserrat/Montserrat-SemiBold.ttf', $bold);
@include webfont($fontFamily, 'assets/fonts/Montserrat/Montserrat-SemiBoldItalic.ttf', $bold, italic);

@include webfont($fontFamilyPlayfair, 'assets/fonts/PlayfairDisplay/PlayfairDisplay-Italic.ttf', $regular, italic);

// Common styles
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background: $bgColor;
  color: $textColor;
  font: {
    weight: $regular;
    size: $fontSize;
    family: $fontFamily, $fallbackFont;
  }
  line-height: $lineHeight;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  @include smoothFont;
}

a {
  text-decoration: none;
}
